.sortable-item {
  cursor: move;
  position: relative;
  margin-right: 15px;
  display: inline-block;

}

.sortable-item.active {
  border: 2px solid rgb(4, 1, 183);
  box-shadow: 0 1px 1px rgba(4, 1, 183, 0.5);
}

.sortable-item:after {
  position: absolute;
  content: '';
  top:0;
  bottom: 0;
  right:0;
  left:0;
}

.sortable-item .title {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  top: 0px;
  font-weight: bold;
  background: rgb(255,255,255);
  padding: 10px 30px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  font-size: 18px;
  z-index: 17;
}

.sortable-item .page-num {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  padding: 4px 10px;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
}

.sortable-item:hover .actions, .sortable-item:hover .title {
  display: block;
}

.sortable-item .actions {
  display: none;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  cursor: default;
  z-index: 20;
}